<!DOCTYPE html>

<html>
<head>
<title>Navi: Simple Updates</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href='https://fonts.googleapis.com/css?family=Nova+Square&v2' rel='stylesheet' type='text/css'>
<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" ></script>  
{% block head %}{% endblock %}
</head>

<body>
<div id="wrap">
  <div id="header">
    <div class="centered">
         

    </div>
  </div>

  <div class="main">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
  </div>
</div>
  <div id="footer">
  </div>
</body>
</html>
