<!DOCTYPE html>

<html>
<head>
<title>Navi: Simple Updates</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href='https://fonts.googleapis.com/css?family=Nova+Square&v2' rel='stylesheet' type='text/css'>
<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" ></script>  
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
{% block head %}{% endblock %}
</head>

<body>
<div id="wrap">
  <div id="header">
    <div>
        {% if session.logged_in %}
          <div id="navHeader" class="dblue" >
            {{ session['email'] }} | <a href="{{ url_for('logout') }}">log out</a></li>
          </div>
          <div class="clear">
          {% endif %} 
    </div>
  </div>

  <div class="main">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
	<div id="NaviHeader" class="dblue">
		<b>navi</b>
	</div>
	<div id="bodyBlock" >
    {% block body %}{% endblock %}
    </div>
  </div>
</div>
  <div id="footer" class="dblue">
	  | Check out the <a href="https://github.com/jiahuang/Navi"> source code</a> | Follow <a href="http://twitter.com/#!/jialiya">@jialiya</a> |
  </div>
</body>
</html>
