{%extends "layout.html" %}
{% block head%}
<script type="text/javascript">
$(document).ready(function() {
	var rowId = 0;
	
	$('article.tabs section > h3').click(function(){
			$('article.tabs section').removeClass('current');
			$(this).closest('section').addClass('current');
	});
	
	$('#loginFormButton').click(function(){
		$.post('/login', 
			{ email: $('#email-login').val(), password: $('#pw-login').val()},
			function(data){
				console.log(data);
				if ('error' in data){
					// TODO: swap this out for a flashed message
					//alert(data.error)
					$('#loginError').html(data.error);
					$('#loginError').show();
				}
				else
					window.location.reload();
			},
			'json'
		)
		return false;
	});
		
	$('#newUserFormButton').click(function(){
		$.post('/new', 
			{ email: $('#email-login').val(), password: $('#pw-login').val()},
			function(data){
				console.log(data);
				if ('error' in data){
					$('#loginError').html(data.error);
					$('#loginError').show();
				}
				else
					window.location.reload();
			},
			'json'
		)
		return false;
	});
	
	function insertRow(newNotifications, url, date, expired, id){
		var tr = $('<tr>')
			.append($('<td>')
				.append($('<div>')
					.attr('class', 'no_notification')
					.text('0')
				)
			).append($('<td>')
				.append($('<div>')
					.attr('class', 'url')
					.text(url)
				)
			).append($('<td>')
				.append($('<div>')
					.attr('class', 'time')
					.text(date.getMonth()+"/"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds())
				)
			);
		if (expired){
			tr.append($('<td>')
				.append($('<div>')
					.attr('class', 'expired')
					.text('expired')
				)
			)
		}
		else{
			tr.append($('<td>')
				.append($('<div>')
				)
			)
		}
		
		tr.attr('id', id);
		rowId++;
		$('#urlTable tr:first').after(tr);
	}
		
	$(document).keypress(function(e) {
		if(e.keyCode == 13 && $("#addUrl").length > 0) {
			// add item to dom
			// grab url
			var url = $('#addUrl').val();
			var d = new Date();
			var id = rowId;
			insertRow(0, url, d, id);
			// add a url 
			$.post('/urls', 
				{'url':url},
				function(data){
					console.log(data);
					// if item could not be correctly processed, flash message and delete added row
					if (data.error != 'false'){
						alert(data.error);
						alert(id);
						$('#'+id).remove();
					}
				} 
			)
		}
	});	
	
	function getUrls(){
		if ($("#addUrl").length > 0){
			$.get('/urls', function(data){
				console.log(data['urls']);
				for (url in data['urls']){
					// populate the table correctly
					var offset = new Date().getTimezoneOffset()*60*1000*-1;
					var date = new Date(data['urls'][url].addDate + offset);
					var expireDate = new Date(data['urls'][url].expirationDate + offset);
					var expired = false;
					var current = new Date();
					if (expireDate < current)
						expired = true;
					insertRow(data['urls'][url].newNotifications-data['urls'][url].oldNotifications, data['urls'][url].url, date, expired, rowId);
				}
			})
		}
	}
	
	getUrls();

});	
</script>

{% endblock%}
{% block body %}
	
	{% if session.logged_in %}
		<input type=text id="addUrl" ></input>
		<table id="urlTable" style="width:800px; margin:30px auto; display:block;" border="0" cellspacing="0">
			<tr id="headerRow" style="background-color:#CEE5F5; height:30px;">
				<td width="50px"><div class="notification" style="width:13px; margin-left:auto; margin-right:auto;">#</div></td>
				<td width="600px"><div class="header" style="width:25px; margin-left:auto; margin-right:auto;">Url</div> </td>
				<td width="80px"><div class="header" style="width:55px; margin-left:auto; margin-right:auto;">Added</div> </td>
				<td width="80px"></td>
			</tr>
		</table>
		
	{% else %}
		<div id="loginBox">
			 <article class="tabs">
				<section class="current">
					<div>
						<form id="loginForm">
							<table>
								<tr>
									<td align="right">
										Email 
									</td>
									<td>
										<input type="text" name="email" id="email-login"/>
									</td>
									
								</tr>
								<tr>
									<td align="right">
										Password 
									</td>
									<td>
										<input type="password" name="password" id="pw-login"/> 
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<span id="loginError" style="display:none;"></span>
										<br/>
										<span style="float:right;">
										<input type="submit" id="newUserFormButton" value="Create Account"/>
										<input type="submit" id="loginFormButton" value="Log In"/>
										</span>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</section>
				<!--<section class="current">
					<h3>Sign Up</h3>
					<div>
						<form id="signupForm">
							<table>
								<tr>
									<td align="right">
										Email 
									</td>
									<td>
										<input type="text"  name="email" id="email-signup"/>
									</td>
									
								</tr>
								<tr>
									<td align="right">
										Password 
									</td>
									<td>
										<input type="password"  name="password" id="pw-signup"/> 
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<input type="submit" id="signupFormButton" style="float:right; margin-top:20px;" value="Create Account"/>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</section>-->
			</article>
			
		</div>
	{% endif %} 
{% endblock %}
